body{
	background: #95bdd8 url(../images/blue_texture.jpg) repeat top left;
	font-family: 'Bitter', Arial, sans-serif;
}
.letter-container{
	border-bottom: 1px dashed rgba(255,255,255,0.3);
	border-top: 1px dashed rgba(255,255,255,0.3);
	margin: 0px;
	padding: 0px;
}
.letter-container h2{
	text-align: center;
}
.letter-container h2 a {
	text-align: center;
	padding: 20px;
	text-transform: uppercase;
	}
	.letter-container h2 a span {
	margin-top: 20px;
	-moz-border-radius:10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	}

.letter-container h2 a span.char1{
	display: inline-block;
	color: #ff8624;
	text-shadow: 1px 1px 1px rgba(166,97,41,0.5), 1px 1px 1px #e66212, 2px 2px 1px #fdff64, 3px 3px 3px #ff7420;
	width: 250px;
	height: 150px;
	
	font-size: 32px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	-webkit-box-shadow: 2px 2px 10px rgba(43,54,61, 0.4), 0px 0px 0px 0px #fedc3f inset, 0px 0px 50px 10px rgba(255,244,193,0.8);
	-moz-box-shadow: 2px 2px 10px rgba(43,54,61, 0.4), 0px 0px 0px 0px #fedc3f inset, 0px 0px 50px 10px rgba(255,244,193,0.8);
	box-shadow: 2px 2px 10px rgba(43,54,61, 0.4), 0px 0px 0px 0px #fedc3f inset, 0px 0px 50px 10px rgba(255,244,193,0.8);
	color: #ecf0f2;
	text-shadow: 1px 1px 1px rgba(120,155,179,0.5);
	background: #fedc3f; /* fallback for non-supporting browsers */
	background-image: -webkit-radial-gradient(center center, circle contain, rgb(186, 186, 255) 0%, rgb(12, 42, 197) 100%);
	background-image: -moz-radial-gradient(center center, circle contain, rgb(186, 186, 255) 0%, rgb(12, 42, 197) 100%);
	background-image: -ms-radial-gradient(center center, circle contain, rgb(186, 186, 255) 0%, rgb(12, 42, 197) 100%);
	background-image: -o-radial-gradient(center center, circle contain, rgb(186, 186, 255) 0%, rgb(12, 42, 197) 100%);
	background-image: radial-gradient(center center, circle contain, rgb(186, 186, 255) 0%, rgb(12, 42, 197) 100%);
}
.letter-container h2 a span.char2{
	display: inline-block;
	color: #ff8624;
	text-shadow: 1px 1px 1px rgba(166,97,41,0.5), 1px 1px 1px #e66212, 2px 2px 1px #fdff64, 3px 3px 3px #ff7420;
	width: 250px;
	height: 150px;
	/*line-height: 200px;*/
	font-size: 32px;
	cursor: pointer;

	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	-webkit-box-shadow: 2px 2px 10px rgba(43,54,61, 0.4), 0px 0px 0px 0px #fedc3f inset, 0px 0px 50px 10px rgba(255,244,193,0.8);
	-moz-box-shadow: 2px 2px 10px rgba(43,54,61, 0.4), 0px 0px 0px 0px #fedc3f inset, 0px 0px 50px 10px rgba(255,244,193,0.8);
	box-shadow: 2px 2px 10px rgba(43,54,61, 0.4), 0px 0px 0px 0px #fedc3f inset, 0px 0px 50px 10px rgba(255,244,193,0.8);
	color: #ecf0f2;
	text-shadow: 1px 1px 1px rgba(120,155,179,0.5);
	background: #fedc3f; /* fallback for non-supporting browsers */
	background-image: -webkit-radial-gradient(center center, circle contain, rgb(180, 255, 150) 0%, rgb(47, 184, 13) 100%);
	background-image: -moz-radial-gradient(center center, circle contain, rgb(180, 255, 150) 0%, rgb(47, 184, 13) 100%);
	background-image: -ms-radial-gradient(center center, circle contain, rgb(180, 255, 150) 0%, rgb(47, 184, 13) 100%);
	background-image: -o-radial-gradient(center center, circle contain, rgb(180, 255, 150) 0%, rgb(47, 184, 13) 100%);
	background-image: radial-gradient(center center, circle contain, rgb(180, 255, 150) 0%, rgb(47, 184, 13) 100%);
}
.letter-container h2 a span.char3{
	display: inline-block;
	color: #ff8624;
	text-shadow: 1px 1px 1px rgba(166,97,41,0.5), 1px 1px 1px #e66212, 2px 2px 1px #fdff64, 3px 3px 3px #ff7420;
	width: 250px;
	height: 150px;
	/*line-height: 200px;*/
	font-size: 28px;
	line-height: 50px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	-webkit-box-shadow: 2px 2px 10px rgba(43,54,61, 0.4), 0px 0px 0px 0px #fedc3f inset, 0px 0px 50px 10px rgba(255,244,193,0.8);
	-moz-box-shadow: 2px 2px 10px rgba(43,54,61, 0.4), 0px 0px 0px 0px #fedc3f inset, 0px 0px 50px 10px rgba(255,244,193,0.8);
	box-shadow: 2px 2px 10px rgba(43,54,61, 0.4), 0px 0px 0px 0px #fedc3f inset, 0px 0px 50px 10px rgba(255,244,193,0.8);
	color: #ecf0f2;
	text-shadow: 1px 1px 1px rgba(120,155,179,0.5);
	background: #fedc3f; /* fallback for non-supporting browsers */
	background-image: -webkit-radial-gradient(center center, circle contain, #fedc3f 0%, #ff7420 100%);
	background-image: -moz-radial-gradient(center center, circle contain, #fedc3f 0%, #ff7420 100%);
	background-image: -ms-radial-gradient(center center, circle contain, #fedc3f 0%, #ff7420 100%);
	background-image: -o-radial-gradient(center center, circle contain, #fedc3f 0%, #ff7420 100%);
	background-image: radial-gradient(center center, circle contain, #fedc3f 0%, #ff7420 100%);
}
.letter-container h2 a span.char4{
	display: inline-block;
	color: #ff8624;
	text-shadow: 1px 1px 1px rgba(166,97,41,0.5), 1px 1px 1px #e66212, 2px 2px 1px #fdff64, 3px 3px 3px #ff7420;
	width: 250px;
	height: 150px;
	/*line-height: 200px;*/
	font-size: 32px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	-webkit-box-shadow: 2px 2px 10px rgba(43,54,61, 0.4), 0px 0px 0px 0px #fedc3f inset, 0px 0px 50px 10px rgba(255,244,193,0.8);
	-moz-box-shadow: 2px 2px 10px rgba(43,54,61, 0.4), 0px 0px 0px 0px #fedc3f inset, 0px 0px 50px 10px rgba(255,244,193,0.8);
	box-shadow: 2px 2px 10px rgba(43,54,61, 0.4), 0px 0px 0px 0px #fedc3f inset, 0px 0px 50px 10px rgba(255,244,193,0.8);
	color: #ecf0f2;
	text-shadow: 1px 1px 1px rgba(120,155,179,0.5);
	background: #fedc3f; /* fallback for non-supporting browsers */
	background-image: -webkit-radial-gradient(center center, circle contain, rgb(255, 255, 255) 0%, rgb(182, 9, 9) 100%);
	background-image: -moz-radial-gradient(center center, circle contain, rgb(255, 255, 255) 0%, rgb(182, 9, 9) 100%);
	background-image: -ms-radial-gradient(center center, circle contain, rgb(255, 255, 255) 0%, rgb(182, 9, 9) 100%);
	background-image: -o-radial-gradient(center center, circle contain, rgb(255, 255, 255) 0%, rgb(182, 9, 9) 100%);
	background-image: radial-gradient(center center, circle contain, rgb(255, 255, 255) 0%, rgb(182, 9, 9) 100%);
}
.letter-container h2 a span.char5{
	display: inline-block;
	color: #ff8624;
	text-shadow: 1px 1px 1px rgba(166,97,41,0.5), 1px 1px 1px #e66212, 2px 2px 1px #fdff64, 3px 3px 3px #ff7420;
	width: 250px;
	height: 150px;
	/*line-height: 200px;*/
	font-size: 32px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	-webkit-box-shadow: 2px 2px 10px rgba(43,54,61, 0.4), 0px 0px 0px 0px #fedc3f inset, 0px 0px 50px 10px rgba(255,244,193,0.8);
	-moz-box-shadow: 2px 2px 10px rgba(43,54,61, 0.4), 0px 0px 0px 0px #fedc3f inset, 0px 0px 50px 10px rgba(255,244,193,0.8);
	box-shadow: 2px 2px 10px rgba(43,54,61, 0.4), 0px 0px 0px 0px #fedc3f inset, 0px 0px 50px 10px rgba(255,244,193,0.8);
	color: #ecf0f2;
	text-shadow: 1px 1px 1px rgba(120,155,179,0.5);
	background: #fedc3f; /* fallback for non-supporting browsers */
	background-image: -webkit-radial-gradient(center center, circle contain, rgb(255, 255, 255) 0%, rgb(19, 172, 185) 100%);
	background-image: -moz-radial-gradient(center center, circle contain, rgb(255, 255, 255) 0%, rgb(19, 172, 185) 100%);
	background-image: -ms-radial-gradient(center center, circle contain, rgb(255, 255, 255) 0%, rgb(19, 172, 185) 100%);
	background-image: -o-radial-gradient(center center, circle contain, rgb(255, 255, 255) 0%, rgb(19, 172, 185) 100%);
	background-image: radial-gradient(center center, circle contain, rgb(255, 255, 255) 0%, rgb(19, 172, 185) 100%);
}
.letter-container h2 a span.char6{
	display: inline-block;
	color: #ff8624;
	text-shadow: 1px 1px 1px rgba(166,97,41,0.5), 1px 1px 1px #e66212, 2px 2px 1px #fdff64, 3px 3px 3px #ff7420;
	width: 250px;
	height: 150px;
	/*line-height: 200px;*/
	font-size: 32px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=99)";
	filter: alpha(opacity=99);
	-webkit-box-shadow: 2px 2px 10px rgba(43,54,61, 0.4), 0px 0px 0px 0px #fedc3f inset, 0px 0px 50px 10px rgba(255,244,193,0.8);
	-moz-box-shadow: 2px 2px 10px rgba(43,54,61, 0.4), 0px 0px 0px 0px #fedc3f inset, 0px 0px 50px 10px rgba(255,244,193,0.8);
	box-shadow: 2px 2px 10px rgba(43,54,61, 0.4), 0px 0px 0px 0px #fedc3f inset, 0px 0px 50px 10px rgba(255,244,193,0.8);
	color: #ecf0f2;
	text-shadow: 1px 1px 1px rgba(120,155,179,0.5);
	background: #fedc3f; /* fallback for non-supporting browsers */
	background-image: -webkit-radial-gradient(center center, circle contain, rgb(255, 252, 237) 0%, rgb(157, 29, 207) 100%);
	background-image: -moz-radial-gradient(center center, circle contain, rgb(255, 252, 237) 0%, rgb(157, 29, 207) 100%);
	background-image: -ms-radial-gradient(center center, circle contain, rgb(255, 252, 237) 0%, rgb(157, 29, 207) 100%);
	background-image: -o-radial-gradient(center center, circle contain, rgb(255, 252, 237) 0%, rgb(157, 29, 207) 100%);
	background-image: radial-gradient(center center, circle contain, rgb(255, 252, 237) 0%, rgb(157, 29, 207) 100%);
}
.letter-container h2 a:hover span{
	opacity: 0.3;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
}
/* Radial gradient, great intro: http://www.impressivewebs.com/css3-radial-gradient-syntax/ */
.letter-container h2 a span:hover{
	opacity: 1;
	color: #1064d6;
	background: #bfd4e2;
	-moz-border-radius:10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 2px 2px 10px rgba(43,54,61, 0.4), 0px 0px 0px 5px rgba(116,161,191,0.3) inset;
	-moz-box-shadow: 2px 2px 10px rgba(43,54,61, 0.4), 0px 0px 0px 5px rgba(116,161,191,0.3) inset;
	box-shadow: 2px 2px 10px rgba(43,54,61, 0.4), 0px 0px 0px 5px rgba(116,161,191,0.3) inset;
}

